@charset "UTF-8";

/* placeholder 색상 */
input::placeholder{color: #a0a3aa;}
input::-webkit-input-placeholder{color: #a0a3aa;}
input:-ms-input-placeholder{color: #a0a3aa;}
textarea::placeholder{color: #a0a3aa;}
textarea::-webkit-input-placeholder{color: #a0a3aa;}
textarea:-ms-input-placeholder{color: #a0a3aa;}

.write_box input[type="text"]:focus:not(:disabled),
.write_box input[type="password"]:focus:not(:disabled),
.write_box input[type="text"]:hover:not(:disabled),
.write_box input[type="password"]:hover:not(:disabled){border: 1px solid #000 !important;}

/* checkbox */
input[type="checkbox"]{vertical-align: middle; appearance: none; border: 1px solid #e2e5eb; background: #fff; border-radius: 3px; width: 16px; height: 16px; transition: border 0.2s ease-in-out; cursor: pointer;}
input[type="checkbox"]:checked { border: 1px solid #f95353; background: url(../images/ic_check.png)50% 50% no-repeat; background-color: #f95353; transition: border 0.2s ease-in-out;}

/* select */
select{-webkit-appearance: none;-moz-appearance: none;appearance: none; padding-right: 25px; background: url(../images/ic_arrow2.png) right 15px center no-repeat #fff !important;}

/* date */
input[type=date]::after{content: ''; position: absolute; top: 50%; right: 15px; transform: translateY(-50%); display: flex; width: 18px; height: 18px; background: url(../images/ic_date.png) center no-repeat;}
input[type='date']::-webkit-calendar-picker-indicator {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: transparent;color: transparent;cursor: pointer;}
  
/* common */
.btn_red{background: #f95353; color: #fff;}
.btn_red2{background: #fff; border: 1px solid #f95353; color: #f95353;}
.btn_white{background: #fff; color: #000; border: 1px solid #e2e5eb;}
.font_red{color: #f95353;}
.font_gray{color: #a0a3aa;}
.nowrap{flex-wrap: nowrap !important;}
.ml10{margin-left: 10px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.w100{width: 100px;}
.w100p{width: 100%;}
.w220{width: 220px;}
.w390{width: 390px;}
.w500{width: 500px;}
.w700{width: 700px;}

/* 공유하기 팝업 */
.share_popup {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);z-index: 2000;}
.share_popup .white_box {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 80%;max-width: 400px;background: #fff; padding: 20px; border-radius: 10px;}
.share_popup .white_box .popup_title {position: relative;display: flex; align-items: center; font-size: 17px;font-weight: 600;color: #000;}
.share_popup .white_box .popup_title .popup_close {position: absolute;right: 0px;top: 50%;transform: translateY(-50%);}
.share_popup .white_box .popup_title .popup_close img {vertical-align: baseline !important;transition: all .2s;}
.share_popup .white_box .popup_title .popup_close:hover img {transform: rotate(180deg);}
.share_popup .white_box .share_sns {padding-top: 20px;text-align: center;margin: 0 auto;font-size: 0;}
.share_popup .white_box .share_sns > span {width: 60px;height: 60px;display: inline-block;margin: 0 15px;cursor: pointer;font-size: 14px;text-align: center;}
.share_popup .white_box .share_sns > span > a {display: inline-block;}
.share_popup .white_box .share_sns > span > a img {width: 100%;height: 100%;display: block;padding-bottom: 5px;transition: all .2s;}
.share_popup .white_box .share_sns > span > a img:hover {opacity: .9;}

/* 팝업 공통 */
.popup_black{display: none; position: fixed; top:0; width: 100%; height: 100%; z-index: 2000; background: rgba(0, 0, 0, .4); align-items: center; justify-content: center;}
.popup_black .popup_white{position: relative; max-height: 90vh; overflow-y: auto; padding: 30px; box-sizing: border-box; background: #fff; border-radius: 10px; box-shadow: 0 0 16px 0 rgba(0, 0, 0, .2);}
.popup_black .popup_white .close{position: absolute; top: 30px; right: 30px;}
.popup_black .popup_white .popup_tit{display: flex; align-items: center; width: 100%; margin-bottom: 25px;}
.popup_black .popup_white .popup_tit h3{display: flex; align-items: center; font-size: 16px; font-weight: 600; line-height: 1.2em;}
.popup_black .popup_white .popup_con{width: 100%;}
.popup_black .popup_white .popup_con form{width: 100%;}


/* 리스트 상단 */
.comm_list_top .list_category{display: flex; align-items: center; flex-wrap: nowrap; white-space: nowrap; overflow-x: auto; margin-bottom: 30px;}
.comm_list_top .list_category li,
.comm_list_top .list_category li p {position: relative;}
.comm_list_top .list_category li:not(:last-child) p {margin-right: 14px;}
.comm_list_top .list_category li p input[type="radio"] {display:none;}
.comm_list_top .list_category li p input[type="radio"] + label {font-size: 15px; color: #000; background: #fff; display: flex; align-items: center; font-weight: 500; padding: 0 24px; height: 46px; border: 1px solid #e2e5eb; border-radius: 23px;}
.comm_list_top .list_category li p input[type="radio"]:checked + label {background: #f95353; color: #fff; border: none;}

.comm_list_top .list_total_wrap{display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 20px;}
.comm_list_top .list_total{position: relative;}
.comm_list_top .list_total p{font-size: 15px; font-weight: 500;}
.comm_list_top .list_total p span{font-size: inherit; font-weight: 700; margin: 0 1px;}
.comm_list_top .list_total p .mobile_none{font-size: inherit; font-weight: 500;}

.comm_list_top .list_sort {display: flex; margin-left: auto;}
.comm_list_top .list_sort li,
.comm_list_top .list_sort li p {position: relative;}
.comm_list_top .list_sort li:not(:last-child) p {margin-right: 20px;}
.comm_list_top .list_sort li p::before {content: '·';position: absolute;top: 50%;transform: translateY(-50%);left: -10px;color: #a0a3aa;}
.comm_list_top .list_sort li:first-child p::before {content: '';}
.comm_list_top .list_sort li p input[type="radio"] {display:none;}
.comm_list_top .list_sort li p input[type="radio"] + label {color:#a0a3aa;font-size: 15px;display: flex;align-items: center; font-weight: 500;}
.comm_list_top .list_sort li p input[type="radio"] + label span {display: none;}
.comm_list_top .list_sort li p input[type="radio"]:checked + label {color: #000;}
.comm_list_top .list_sort li p input[type="radio"]:checked + label span {display: inline-block;margin-right: 5px;width: 13px;height: 10px;background: url(../images/ic_sort.png)50% 50% no-repeat;}


/* 리스트 공통 */
.comm_list{position: relative; width: 100%; display: flex; align-items: flex-start; flex-wrap: wrap;}
.comm_list li{position: relative; width: calc(100%/4 - 60px/4); margin-right: 20px; margin-top: 60px;}
.comm_list li:nth-child(-n + 4){margin-top: 0;}
.comm_list li:nth-child(4n){margin-right: 0;}
.comm_list li a{position: relative; width: 100%; display: inline-block;}
.comm_list li a .list_img{position: relative; width: 100%; padding-top: 100%; border: 1px solid #e2e5eb; border-radius: 20px; overflow: hidden; margin-bottom: 16px;}
.comm_list li a .list_img img{position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; margin: auto;}
.comm_list li a .list_txt{position: relative; width: 100%; display: flex; flex-direction: column;}
.comm_list li a .list_txt .list_tit{width: 100%; font-size: 16px; font-weight: 500;}

.comm_list li a .list_txt .list_price{width: 100%; font-size: 22px; font-weight: 700; margin: 8px 0;}
.comm_list li a .list_txt .review{width: 100%; display: flex; flex-wrap: wrap; align-items: center;}
.comm_list li a .list_txt .review .img{width: 16px; height: 15px; margin-right: 5px; background: url(../images/ic_star.png) center no-repeat; background-size: cover;}
.comm_list li a .list_txt .review .score{font-size: 15px; color: #000; font-weight: 400;}
.comm_list li a .list_txt .review .cnt{font-size: 15px; margin-left: 3px; font-weight: 400;}

.comm_list li a .list_txt .list_info{width: 100%; display: flex; flex-wrap: wrap; align-items: center; margin-top: 10px;}
.comm_list li a .list_txt .list_info .name{font-size: 15px; color: #000; font-weight: 500;}
.comm_list li a .list_txt .list_info .date{display: flex; align-items: center; font-size: 15px; font-weight: 400; margin-left: 8px;}
.comm_list li a .list_txt .list_info .date::before{content: ''; width: 1px; height: 10px; margin-right: 8px; background-color: #eaeaea; display: flex;}

.comm_list li a .list_txt .list_ic{width: 100%; display: flex; flex-wrap: wrap; align-items: center; margin-top: 8px;}
.comm_list li a .list_txt .list_ic span{font-size: 14px; display: flex; align-items: center;}
.comm_list li a .list_txt .list_ic .heart,
.comm_list li a .list_txt .list_ic .comment{margin-left: 15px;}
.comm_list li a .list_txt .list_ic .view::before{content: ''; background: url(../images/ic_view.png) center no-repeat; display: flex; width: 15px; height: 15px; margin-right: 5px;}
.comm_list li a .list_txt .list_ic .heart::before{content: ''; background: url(../images/ic_heart.png) center no-repeat; display: flex; width: 15px; height: 15px; margin-right: 5px;}
.comm_list li a .list_txt .list_ic .comment::before{content: ''; background: url(../images/ic_comment.png) center no-repeat; display: flex; width: 15px; height: 15px; margin-right: 5px;}


/* 탭 */
.tabs{position: relative; width: 100%; border-bottom: 1px solid #e2e5eb; display: flex; flex-wrap: wrap; margin-bottom: 30px;}
.tabs .tab{position: relative; z-index: 0; margin-bottom: -1px; width: 160px; height: 48px; border-radius: 6px 6px 0 0; background: #f4f4f4; font-size: 15px; color: #a0a3aa; font-weight: 600; border: 1px solid #f4f4f4; border-bottom: 1px solid #e2e5eb;}
.tabs .tab:not(:first-child){margin-left: -1px;}
.tabs .tab span{font-size: inherit; color: inherit; font-weight: inherit; margin-left: 2px;}
.tabs .tab:hover,
.tabs .tab.tab_active{background: #fff; color: #f95353; border: 1px solid #e2e5eb; border-bottom: 1px solid #fff; z-index: 1;}

.tab_content.hidden {display: none;}


/* 상세페이지 공통 */
.comm_detail_top{position: relative; display: flex; flex-wrap: wrap; width: 100%; margin-top: 25px;}

.writer_btn_wrap{position: relative; width: 100%; display: flex; align-items: center; justify-content: flex-end; margin-bottom: 15px;}
.writer_btn_wrap button{width: 60px; height: 30px; border-radius: 5px; font-size: 12px; font-weight: 600; background: #fff;}
.writer_btn_wrap .btn_edit{border: 1px solid #000; color: #000;}
.writer_btn_wrap .btn_del{border: 1px solid #f95353; color: #f95353; margin-left: 10px;}

.comm_detail_tit{position: relative; width: 100%; display: flex; flex-direction: column; align-items: center; border-top: 1px solid #e2e5eb; border-bottom: 1px solid #e2e5eb; padding: 30px 20px;}
.comm_detail_tit h4{font-size: 30px; font-weight: 600; margin-bottom: 15px; text-align: center;}
.comm_detail_tit .tit_info{width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}
.comm_detail_tit .tit_info li{display: flex; align-items: center; font-size: 15px;}
.comm_detail_tit .tit_info li:not(:first-child){margin-left: 8px;}
.comm_detail_tit .tit_info li:not(:first-child)::before{content: ''; width: 1px; height: 10px; margin-right: 8px; background-color: #eaeaea; display: flex;}
.comm_detail_tit .tit_info li p{display: flex; align-items: center; font-size: inherit; font-weight: inherit; color: inherit;}
.comm_detail_tit .tit_info li.view p::before{content: ''; background: url(../images/ic_view.png) center no-repeat; display: flex; width: 15px; height: 15px; margin-right: 5px;}
.comm_detail_tit .tit_info li.comment p::before{content: ''; background: url(../images/ic_comment.png) center no-repeat; display: flex; width: 15px; height: 15px; margin-right: 5px;}

.comm_detail_con{position: relative; width: 100%; padding: 30px 20px; display: flex; flex-direction: column; align-items: center;}
.comm_detail_con p{width: 100%; font-size: 18px; text-align: center;}
.comm_detail_con img{max-width: 70%; display: block; margin-top: 20px;}
.comm_detail_con :first-child{margin-top: 0;}

.comm_detail_act{position: relative; width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 20px;}
.comm_detail_act .comm_act_btn{position: relative; display: flex; border: 1px solid #e2e5eb; height: 60px; border-radius: 40px; align-items: center; overflow: hidden;}
.comm_detail_act .comm_act_btn :not(:last-child)::after{content: ''; position: absolute; top: 50%; right: 0; transform: translateY(-50%); width: 1px; height: 14px; margin-left: 8px; background-color: #eaeaea; display: flex;}
.comm_detail_act .comm_act_btn p {position: relative;padding: 0 25px; height: 100%; display: flex; align-items: center;}
.comm_detail_act .comm_act_btn p input[type="checkbox"] {display:none;}
.comm_detail_act .comm_act_btn p label{font-size: 16px; font-weight: 500;}
.comm_detail_act .comm_act_btn p input[type="checkbox"] + label {color:#000;font-size: 16px;display: flex;align-items: center;cursor: pointer;}
.comm_detail_act .comm_act_btn p input[type="checkbox"] + label span {display: inline-block;margin-right: 10px;width: 22px;height: 22px;background: url(../images/btn_noheart.png)50% 50% no-repeat;background-size: cover;cursor: pointer;}
.comm_detail_act .comm_act_btn p input[type="checkbox"]:checked + label span {background: url(../images/btn_heart.png)50% 50% no-repeat;background-size: cover;}
.comm_detail_act .comm_act_btn button{position: relative; display: flex; align-items: center; padding: 0 25px; background: #fff; height: 100%; font-size: 16px; font-weight: 500;}
.comm_detail_act .comm_act_btn button::before{content: '';display: inline-block;margin-right: 10px;width: 22px;height: 22px;}
.comm_detail_act .comm_act_btn button.btn_share::before{background: url(../images/btn_share.png) center no-repeat; background-size: cover;}

.comm_detail_comment_write{position: relative; width: 100%; margin-top: 40px;}
.comm_detail_comment_write h4{font-size: 14px; font-weight: 600;}
.comm_detail_comment_write h4 span{font-size: inherit; font-weight: 700;}
.comm_box_write{position: relative; width: 100%; border: 1px solid #e2e5eb; background-color: #fff; padding: 20px; margin-top: 15px;}
.comm_box_write textarea{width: 100%; border: 0; resize: none; height: 80px; font-size: 16px; outline: none;}
.comm_box_write .write_info{position: relative;width: 100%;display: flex;align-items: flex-end;justify-content: space-between; margin-top: 10px;}
.comm_box_write .write_info .comm_write_button{width: 80px; height: 45px; border-radius: 6px; font-size: 16px; font-weight: 600;}
.comm_box_write .write_info .comm_write_button.small_btn{width: 66px; height: 40px; font-size: 15px};

.comm_detail_comment_list,
.comm_detail_comment_list ul
.comm_detail_comment_list ul li{position: relative; width: 100%;}
.comm_detail_comment_list ul li{padding: 25px 0;}
.comm_detail_comment_list ul li:not(:first-child){border-top: 1px solid #e2e5eb;}

.info01{position: relative; width: 100%; display: flex; align-items: center; flex-wrap: wrap;}
.info01 a,
.info01 p{display: flex; align-items: center; font-size: 14px;}
.info01 :not(:first-child){margin-left: 8px;}
.info01 a::before{content: ''; width: 1px; height: 10px; margin-right: 8px; background-color: #eaeaea; display: flex;}

.comm_box_list h5{width: 100%; margin-top: 10px; font-size: 16px;}


.comm_detail_btn{position: relative; width: 100%; display: flex; align-items: center; justify-content: center; margin-top: 25px;}
.comm_detail_btn .btn_back{width: 160px; height: 48px; font-size: 18px; font-weight: 500; border: 1px solid #e2e5eb; background: #fff; border-radius: 6px;}


.comm_detail_con_tit{position: relative; width: 100%; margin-top: 40px;}
.comm_detail_con_tit .cont_tit{position: relative; width: 100%; border-bottom: 1px solid #000;}
.comm_detail_con_tit .cont_tit h4{font-size: 14px; font-weight: 600; margin-bottom: 10px;}
.comm_detail_con_tit .cont_tit h4 span{font-size: inherit; font-weight: 700;}


/* 등록폼 공통 */
.write_box,
.write_box form{position: relative; width: 100%;}
.write_tit{width: 100%; position: relative; width: 100%; display: flex; flex-wrap: wrap; margin-bottom: 20px;}
.write_tit p{font-size: 14px; display: flex; align-items: center; margin-left: auto;}
.write_tit p::before {content: '';display: block;width: 4px;height: 4px;float: left;margin-right: 6px;background-color: #ff3d44 ;}

.comm_write_con{width: 100%;display: flex;flex-wrap: wrap; border-top: 1px solid #000;}
.comm_write_con .comm_write_box{position: relative;display: flex;flex-wrap: wrap;align-items: flex-start;box-sizing: border-box;width: 100%;padding: 20px 0;border-bottom: 1px solid #e2e5eb;}
.comm_write_con .comm_write_box .tit_box{width: 200px; height: 100%;}
.comm_write_con .comm_write_box .tit_box h3{font-size: 16px;display: flex; align-items: center; margin-top: 13px;}
.comm_write_con .comm_write_box .tit_box h3::before{content: '';display: block;margin-right: 14px;}
.comm_write_con .comm_write_box .tit_box h3.important::before{content: '';display: block;width: 4px;height: 4px;float: left;margin-right: 10px;background-color: #ff3d44;}
.comm_write_con .comm_write_box .cont_box{position: relative; width: calc(100% - 200px); display: flex; flex-wrap: wrap; align-items: center;}
.comm_write_con .comm_write_box .cont_box input[type=text],
.comm_write_con .comm_write_box .cont_box input[type=number],
.comm_write_con .comm_write_box .cont_box input[type=date],
.comm_write_con .comm_write_box .cont_box select,
.comm_write_con .comm_write_box .cont_box input[type=password]{position: relative; height: 48px; font-size: 16px; border: 1px solid #e2e5eb; border-radius: 6px; background: #fff; padding: 0 20px; outline: none;}
.comm_write_con .comm_write_box .cont_box span{font-size: 15px; font-weight: 400;}
.comm_write_con .comm_write_box .cont_box span.idcheck,
.comm_write_con .comm_write_box .cont_box span.pwcheck{width: 100%; margin-top: 10px;}
.comm_write_con .comm_write_box .cont_box span strong{font-size: inherit; font-weight: 500; margin-right: 2px;}
.comm_write_con .comm_write_box .cont_box .address{display: flex; flex-direction: column;}
.comm_write_con .comm_write_box .cont_box .address > :not(:first-child){margin-top: 10px;}
.comm_write_con .comm_write_box .cont_box .address .address_box{display: flex; flex-wrap: wrap;}
.comm_write_con .comm_write_box .cont_box .address .address_box button{height: 48px; border-radius: 6px; margin-left: 10px; border: 1px solid #000; background: #fff;}
.comm_write_con .comm_write_box .cont_box .note-editor{width: 100%;}
.comm_write_btn_wrap{position: relative; width: 100%; margin-top: 50px; display: flex; justify-content: center;}
.comm_write_btn_wrap button{width: 200px; height: 60px; border-radius: 6px; font-size: 16px; font-weight: 600;}
.comm_write_btn_wrap button:nth-child(even){margin-left: 20px;}

/* 라디오 */
.comm_write_con .comm_write_box .cont_box .state {position: relative;padding-top: 11px;}
.comm_write_con .comm_write_box .cont_box .state:not(:first-child) {margin-left: 40px;}
.comm_write_con .comm_write_box .cont_box .state label {display: flex;align-items: center;}
.comm_write_con .comm_write_box .cont_box .state span {vertical-align: middle;font-size: 16px;color: #a0a3aa;margin-left: 8px;}
.comm_write_con .comm_write_box .cont_box .state [type="radio"] {vertical-align: middle;appearance: none;border: 1px solid #e2e5eb;border-radius: 50%;width: 18px;height: 18px;transition: border 0.2s ease-in-out;}
.comm_write_con .comm_write_box .cont_box .state [type="radio"]:checked {border: 5px solid #f95353;}
.comm_write_con .comm_write_box .cont_box .state [type="radio"]:checked ~ span {color: #000;}
.comm_write_con .comm_write_box .cont_box .state [type="radio"]:disabled {background-color: lightgray;box-shadow: none;opacity: 0.7;cursor: not-allowed;}
.comm_write_con .comm_write_box .cont_box .state [type="radio"]:disabled + span {opacity: 0.7;cursor: not-allowed;}
/*사진첨부*/
.comm_write_box .cont_box .imgBox {position: relative; width: 120px;height: 120px;}
.comm_write_box .cont_box .imgBox .upload-photo {display: none;}
.comm_write_box .cont_box .imgBox input[type="file"] {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}
.comm_write_box .cont_box .imgBox label {position: relative;box-sizing: border-box;width: 100%;color: #a0a3aa;vertical-align: middle;background-color: #fff;cursor: pointer;height: 120px;width: 120px;border: 2px dashed #dedede;display: flex;flex-direction: column;align-items: center;justify-content: center;flex-wrap: wrap;}
.comm_write_box .cont_box .imgBox label img {margin-bottom: 5px;}
.comm_write_box .cont_box .imgBox label span {color: #a0a3aa;font-size: 13px;}
.comm_write_box .cont_box .imgBox .thumb{display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;background: #fff;border: 2px dashed #dedede;}
.comm_write_box .cont_box .imgBox .thumb img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;margin: auto;}
.comm_write_box .cont_box .imgBox .thumb .dellink{position: absolute;box-sizing: border-box;width: 12px;height: 12px;background: url(../images/ic_popup_close.png) center no-repeat;top: 12px;right: 12px;}


/* 페이징 형식 */

/* 1~5
    <div id="" class="">
        <p>
            <span class="numPN m_ar"><a href="#" data-page="1" title="처음 페이지로 이동하기"><img src="image/ic_prev2.png" alt="처음 페이지"></a></span>
            <span class="numPN over left"><a href="#" data-page="1" title="이전 페이지로 이동하기"><img src="image/ic_prev.png" alt="이전 페이지"></a></span>
            <span class="Present"><a class="on" href="#" data-page="1">1</a></span>
            <span><a href="#" data-page="2">2</a></span>
            <span><a href="#" data-page="3">3</a></span>
            <span><a href="#" data-page="4">4</a></span>
            <span><a href="#" data-page="5">5</a></span>
            <span class="numPN  over right"><a href="#" data-page="11" title="다음 페이지로 이동하기"><img src="image/ic_next.png" alt="다음 페이지"></a></span>
            <span class="numPN m_ar"><a href="#" data-page="14" title="마지막 페이지로 이동하기"><img src="image/ic_next2.png" alt="마지막 페이지"></a></span>
        </p>
    </div>
*/

/* 페이징1 */
.paging1{clear: both; margin: 0 auto; text-align: center; position: relative; margin-top: 60px;}
.paging1 p{display: flex; align-items: center; justify-content: center;}
.paging1 p span a{display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; line-height: 30px; margin: 0 2px; font-size: 14px; color: #000; font-weight: 500; text-decoration: none; transition: all .2s;}
.paging1 p span:first-child a{margin-left: 0;}
.paging1 p span a:hover{color: #f95353;}
.paging1 .numPN a{width: 24px; height: 30px;}
.paging1 .numPN a img{width: 10px; height: 10px;}
.paging1 .Present a{color: #fff; font-weight: 600; background-color: #f95353; border-radius: 10px;}
.paging1 .Present a:hover{color: #fff;}


/* 미디어쿼리 1200 */
@media (max-width: 1200px){

}


/* 미디어쿼리 1024 */
@media (max-width: 1024px){
    /* 팝업 공통 */
    .popup_black .popup_white{padding: 20px;}
    .popup_black .popup_white .close{top: 20px; right: 20px;}

}


/* 미디어쿼리 900 */
@media (max-width: 900px){
    .comm_list li{width: calc(100%/3 - 40px/3);}
    .comm_list li:nth-child(-n + 4){margin-top: 60px;}
    .comm_list li:nth-child(4n){margin-right: 20px;}
    .comm_list li:nth-child(-n + 3){margin-top: 0px;}
    .comm_list li:nth-child(3n){margin-right: 0px;}

    .tabs .tab{width: 140px; height: 44px; font-size: 14px;}

    .comm_detail_tit,
    .comm_detail_con{padding: 20px;}
    .comm_detail_tit h4{font-size: 22px;}
    .comm_box_write textarea{height: 65px;}

    .comm_write_con .comm_write_box .cont_box .address > * {width: 100%;}
    .comm_write_con .comm_write_box .cont_box .address .address_box input{width: calc(100% - 110px);}
    .comm_write_con .comm_write_box .cont_box > * {width: 100%;}
    .comm_write_con .comm_write_box .cont_box.tel{display: flex; flex-wrap: nowrap;}
    .comm_write_con .comm_write_box .cont_box.tel select,
    .comm_write_con .comm_write_box .cont_box.tel input{width: 30%;}
    .comm_write_con .comm_write_box .cont_box.tel span{width: auto;}

    .comm_write_con .comm_write_box .cont_box .state {width: auto;}
}

/* 미디어쿼리 600 */
@media (max-width: 600px){
    .popup_black .popup_white{min-height: 100vh; border-radius: 0;}
    .common_popup_wrap .common_popup{width: 100%;}

    .comm_list_top .list_total p .mobile_none{display: none;}
    .comm_list_top .list_category li p input[type="radio"] + label {font-size: 14px; padding: 0 20px; height: 40px; border: 1px solid #e2e5eb; border-radius: 20px;}
    .comm_list_top .list_category li:not(:last-child) p {margin-right: 8px;}

    .comm_list li{width: calc(100%/2 - 20px/2); margin-top: 40px !important;}
    .comm_list li:nth-child(-n + 3){margin-top: 40px;}
    .comm_list li:nth-child(3n){margin-right: 20px;}
    .comm_list li:nth-child(-n + 2){margin-top: 0px !important;}
    .comm_list li:nth-child(2n){margin-right: 0px;}

    .comm_list li a .list_img{border-radius: 10px;}
    .comm_list li a .list_txt .list_tit{font-size: 15px;}
    .comm_list li a .list_txt .list_price{font-size: 18px; margin: 6px 0;}
    .comm_list li a .list_txt .list_info{margin-top: 6px;}
    .comm_list li a .list_txt .list_info .name,
    .comm_list li a .list_txt .list_info .date{font-size: 14px;}

    .tabs .tab.m_w33{width: calc(100%/3); height: 40px; font-size: 13px;}
    .tabs .tab.m_w50{width: calc(100%/2); height: 40px; font-size: 13px;}

    .writer_btn_wrap button{width: 48px; height: 26px;}
    .writer_btn_wrap .btn_del{margin-left: 6px;}
    .comm_detail_tit,
    .comm_detail_con{padding: 20px 0;}
    .comm_detail_top{margin-top: 20px;}
    .comm_detail_tit h4{font-size: 18px; margin-bottom: 10px;}
    .comm_detail_tit .tit_info li{font-size: 14px;}
    .comm_detail_con p{font-size: 16px;}
    .comm_detail_con img{max-width: 100%;}
    .comm_detail_act{margin-top: 10px;}
    .comm_detail_act .comm_act_btn{height: 46px;}
    .comm_detail_act .comm_act_btn p label,
    .comm_detail_act .comm_act_btn button{font-size: 14px !important;}
    .comm_detail_act .comm_act_btn p input[type="checkbox"] + label span,
    .comm_detail_act .comm_act_btn button::before{width: 16px; height: 16px; margin-right: 6px;}
    .comm_detail_comment_write{margin-top: 25px;}
    .comm_box_write{margin-top: 10px; padding: 12px;}
    .comm_box_write textarea{font-size: 15px; height: 55px;}
    .comm_box_write .write_info{margin-top: 6px;}
    .comm_box_write .write_info .comm_write_button{width: 66px; height: 40px; font-size: 15px;}
    .comm_box_write .write_info .comm_write_button.small_btn{width: 56px; height: 36px; font-size: 14px;}
    .comm_detail_comment_list ul li{padding: 18px 0;}
    .comm_box_list h5{font-size: 15px;}
    .comm_detail_btn{margin-top: 10px;}
    .comm_detail_btn .btn_back{width: 120px; height: 42px; font-size: 16px;}

    .comm_detail_con_tit{margin-top: 20px;}

    .write_tit{margin-bottom: 15px;}
    .comm_write_con .comm_write_box .tit_box{width: 100%; height: auto;}
    .comm_write_con .comm_write_box .tit_box h3{margin: 0; font-size: 14px;}
    .comm_write_con .comm_write_box .tit_box h3::before{margin-right: 0;}
    .comm_write_con .comm_write_box .cont_box{width: 100%; margin-top: 10px;}
    
    .comm_write_con .comm_write_box .cont_box input[type=text],
    .comm_write_con .comm_write_box .cont_box input[type=number],
    .comm_write_con .comm_write_box .cont_box input[type=date],
    .comm_write_con .comm_write_box .cont_box select,
    .comm_write_con .comm_write_box .cont_box input[type=password]{height: 44px; font-size: 15px; padding: 0 15px;}

    .comm_write_con .comm_write_box .cont_box .state {padding-top: 0;}

    .comm_write_con .comm_write_box .cont_box .note-editor{height: 400px;}
    .comm_write_btn_wrap{margin-top: 30px;}
    .comm_write_btn_wrap button{width: calc(50% - 5px);height: 42px;font-size: 16px;}
    .comm_write_btn_wrap button:nth-child(even){margin-left: 10px;}
    .paging1{margin-top: 40px;}
}






