@charset "UTF-8";

/* common */
.btn_red{background: #f95353; color: #fff;}
.btn_red2{background: #fff; border: 1px solid #f95353; color: #f95353;}
.btn_white{background: #fff; color: #000; border: 1px solid #e2e5eb;}
.font_red{color: #f95353;}
.font_gray{color: #a0a3aa;}


/* 리스트 공통 */
.comm_list{position: relative; width: 100%; display: flex; align-items: flex-start; flex-wrap: wrap;}
.comm_list li{position: relative; width: calc(100%/4 - 60px/4); margin-right: 20px; margin-top: 60px;}
.comm_list li:nth-child(-n + 4){margin-top: 0;}
.comm_list li:nth-child(4n){margin-right: 0;}
.comm_list li a{position: relative; width: 100%; display: inline-block;}
.comm_list li a .list_img{position: relative; width: 100%; padding-top: 100%; border: 1px solid #e2e5eb; border-radius: 20px; overflow: hidden; margin-bottom: 16px;}
.comm_list li a .list_img img{position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; margin: auto;}
.comm_list li a .list_txt{position: relative; width: 100%; display: flex; flex-direction: column;}
.comm_list li a .list_txt .list_tit{width: 100%; font-size: 16px; font-weight: 500;}

.comm_list li a .list_txt .list_price{width: 100%; font-size: 22px; font-weight: 700; margin: 8px 0;}
.comm_list li a .list_txt .review{width: 100%; display: flex; flex-wrap: wrap; align-items: center;}
.comm_list li a .list_txt .review .img{width: 16px; height: 15px; margin-right: 5px; background: url(../images/ic_star.png) center no-repeat; background-size: cover;}
.comm_list li a .list_txt .review .score{font-size: 15px; color: #000; font-weight: 400;}
.comm_list li a .list_txt .review .cnt{font-size: 15px; margin-left: 3px; font-weight: 400;}

.comm_list li a .list_txt .list_info{width: 100%; display: flex; flex-wrap: wrap; align-items: center; margin-top: 10px;}
.comm_list li a .list_txt .list_info .name{font-size: 15px; color: #000; font-weight: 500;}
.comm_list li a .list_txt .list_info .date{display: flex; align-items: center; font-size: 15px; font-weight: 400; margin-left: 8px;}
.comm_list li a .list_txt .list_info .date::before{content: ''; width: 1px; height: 10px; margin-right: 8px; background-color: #eaeaea; display: flex;}





/* 미디어쿼리 900 */
@media (max-width: 900px){
    .comm_list li{width: calc(100%/3 - 40px/3);}
    .comm_list li:nth-child(-n + 4){margin-top: 60px;}
    .comm_list li:nth-child(4n){margin-right: 20px;}
    .comm_list li:nth-child(-n + 3){margin-top: 0px;}
    .comm_list li:nth-child(3n){margin-right: 0px;}
    .comm_list li:nth-last-child(-n + 1){display: none;}
}

/* 미디어쿼리 600 */
@media (max-width: 600px){
    .comm_list li{width: calc(100%/2 - 20px/2); margin-top: 40px !important;}
    .comm_list li:nth-child(-n + 3){margin-top: 40px;}
    .comm_list li:nth-child(3n){margin-right: 20px;}
    .comm_list li:nth-child(-n + 2){margin-top: 0px !important;}
    .comm_list li:nth-child(2n){margin-right: 0px;}
    .comm_list li:nth-last-child(-n + 1){display: block;}

    .comm_list li a .list_img{border-radius: 10px;}
    .comm_list li a .list_txt .list_price{font-size: 20px; margin: 6px 0;}
    .comm_list li a .list_txt .list_info{margin-top: 8px;}
}






